<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Cuenta</title>
    <style>
        body { font-family: sans-serif; background: #222; color: white; text-align: center; padding-top: 50px; }
        input { padding: 10px; margin: 10px; border-radius: 5px; border: none; }
        input[type="submit"] { background: #27ae60; color: white; cursor: pointer; font-weight: bold;}
    </style>
</head>
<body>
    <h1>Únete a PyGallery</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Elige Usuario" required><br>
        <input type="password" name="password" placeholder="Elige Contraseña" required><br>
        <input type="submit" value="Crear Cuenta">
    </form>
    <br>
    <a href="/login" style="color: #aaa;">¿Ya tienes cuenta? Entra aquí.</a>
</body>
</html>