<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>pyGallery - Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Únete a pyGallery</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alerta-error">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <input type="submit" value="Crear Cuenta">
        </form>
        <br>
        <a href="/login" style="font-size: 0.9em; color: #94a3b8;">¿Ya tienes cuenta? Entra aqui.</a>
    </div>
</body>
</html>